*{
    margin: 0px;
    padding: 0px;
}
.back{
    height: 100%;
    width: 100%;
    opacity: .78;
    /* z-index: 2; */
}
.navbar ul{
    top: 0;
    right: 0;
    height:100vh;
    width: 250px;
    position: fixed; 
    z-index: 2;
    list-style: none;   
    background: #6969f5; 
}
.navbar a{
    color: black;
    text-decoration: none;
    /* padding: 50px; */
    font-size: 2rem;
}
nav ul li{
    margin: 50px 10px;
    
}
#menu{
    right: 30px;
    top: 20px;
    position: fixed;
    height: 50px; 
    z-index: 3;
    cursor: pointer;
    text-align: center;
}