    body {
        font-family: 'Zen Old Mincho', serif;
        margin: 0px 0px;
        padding: 0px 0px;
        background: url('img/22.jpg');
        color: white;
    }

    .left {
        /* border: 3px solid red; */
        display: inline-block;
        position: absolute;
        left: 34px;
        top: 20px;
        padding: 18px;
    }

    .left div {
        text-align: left;
    }

    .mid {
        /* border: 1px solid yellow; */
        display: block;
        width: 57%;
        margin: 46px auto;
    }

    .navbar li a {
        text-decoration: none;
        list-style: none;
        color: white;

    }

    .navbar li a:hover {
        text-decoration: underline;
        color: gray;
    }

    .navbar li {
        display: inline-block;
        list-style: none;
        margin: 0px 0px;
        padding: 32px 15px;

    }

    .right {
        /* border: 3px solid green; */
        display: inline-block;
        position: absolute;
        right: 34px;
        top: 50px;
        padding: 18px;
    }

    .left img {
        width: 60px;
    }

    .btn {
        font-family: 'Zen Old Mincho', serif;
        color: white;
        background-color: black;
        cursor: pointer;
        border: 2px solid gray;
        border-radius: 5px;
        margin: -3px 8px;
        padding: 4px 4px;
    }

    .btn:hover {
        background-color: rgb(192, 181, 181);
    }

    .container {
        /* border: 2px solid green; */
        position: absolute;
        width: 33%;
        margin: 5px 134px;
        padding: 38px 48px;
        border-radius: 5px;
    }

    .form-group input {
        font-family: 'Zen Old Mincho', serif;
        text-align: center;
        display: block;
        width: 60%;
        margin: 10px 66px;
        padding: 0px 20px;
        border-radius: 20px;
        font-size: 17px;
    }
    
    .container button{
        font-family: 'Zen Old Mincho', serif;
        width: 68%;
        margin: 0px auto;
        text-align: center;
        display: block;
        font-weight: bold;
    }

    .container h1{
        text-align: center;
    }
