*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background: blue;
    text-align: center;
    font-size: 1.4rem;  
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.navbar ul li{
    width: 120px;
    margin: 15px;
}
.navbar ul li :hover{
   background-color: blue;  
   border-radius: 3px;
   color: White;
   padding: 8px;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
}
.subnavbar{
    display: none;
}
.navbar ul li:hover .subnavbar{
    display: block;
    position: absolute;
    background: blue;
    margin-top: 15px;
    margin-left: -10px;
}
.subnavbar:hover{
    background-color: blue;
    color: black;
}
.navbar ul li:hover .subnavbar ul{
    display: block;
    margin: 10px;
}